@color_white: #fff;
// Common
& when (@media-common = true) {
    #magepow_ajaxcart_overlay {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
        top: 0;
        left: 0;
        z-index: 99;
    }

    #magepow_ajaxcart_popup {
        display: none;
        position: relative;
        width: 515px;
        max-width: 90%;
        margin: 0 auto;
        z-index: 999;
        text-align: center;

        .popup {
            .action {
                margin-top: 10px;
            }
        }

        .btn-viewcart {
            width: 50%;
            float: left;
            color: @color_white;

            .viewcart {
                background: #1979c3;
                box-shadow: none;
                border: none;
                color: @color_white;
                &:hover {
                    background: #006bb4;
                }
            }
        }

        .btn-continue {
            width: 50%;
            float: left;
            color: @color_white;

            .continue {
                background: #1979c3;
                box-shadow: none;
                border: none;
                color: @color_white;
                &:hover {
                    background: #006bb4;
                }
            }
        }

        .product-item-info {
            button {
                padding: 8px 5px;
                font-size: 10px;
            }
        }
    }

    .full-width {
        width: 100% !important;
    }

    #ajax-suggest {
        ol {
            padding: 0;
        }

        .item {
            padding-top: 10px;
            padding-bottom: 15px;

            .product-item-info {
                margin-left: auto;
                margin-right: auto;
            }
        }

        .product.details.product-item-details {
            min-height: 65px;
        }

        .ajax-owl-loading {
            width: 24px;
            height: 24px;
            margin: 0 auto;
            background: url(../Magepow_Ajaxcart/images/suggest_loading.gif) no-repeat;
            background-size: 100%;
        }
    }
}
.freeShipping_message {
    background-color: #d6e4f9;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    .needMore {
        font-weight:bold;
    }
}
.congratulation {
    background-color: #f7747c;
    font-size: 14px;
    padding: 10px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}
div.minprogress {
    border: 1px solid #a5a5a5;
    height: 10px;
    border-radius: 5px;
    position: relative;
.minprogress-active {
   position: absolute;
   background-color: #000000;
   height: 10px;
   border-radius: 5px;
}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    #magepow_ajaxcart_popup {
        .btn-viewcart {
            width: 48%;
            float: left;
        }
        .btn-continue {
            width: 48%;
            float: right;
        }
    }
}
